<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @costumers.each do |costumer| %>
      <tr>
        <td><%= costumer.name %></td>
        <td><%= costumer.email %></td>
        <td><%= costumer.address %></td>
        <td><%= link_to 'Show', costumer %></td>
        <td><%= link_to 'Edit', edit_costumer_path(costumer) %></td>
        <td><%= link_to 'Destroy', costumer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_costumer_path %>


<a href="#" id="my-link" target="_blank">Add Message</a>
<div id="my-div"></div>


<script charset="utf-8">
  let link = document.querySelector("#my-link")

  link.addEventListener('click', function(e){
    e.preventDefault()
    setTimeout(function(){
      document.querySelector('#my-div').innerHTML = "<h1>Yes!</h1>"
    }, 100)
  }, false)
</script>
